body {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.grids {
    /* border: 1px solid blue; */
    border-radius: 15px;
    box-shadow: 0px 6px 8px 2px rgb(238, 238, 238);
    text-align: center;
    height: 360px;
}

.grids-b {
    border-top: 5px solid transparent;
    border-image: url(/images/bg-dots.svg) 10 round;
}

.content {
    display: none;
    word-break:break-all;
    margin-top: 15px;
    font-size: 16px;
    line-height: 36px;
    color: rgb(165, 165, 165);
    width: 95%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: hsl(0, 94%, 66%);
}

.active {
    border-bottom: 3px solid hsl(0, 94%, 66%);
}

/* Header */

header img {
    margin-top: 55px;
    margin-left: 24px;
}

/* Nav */

header nav ul {
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    padding-left: 40px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500px;
    letter-spacing: 2px;
}

header nav button {
    background-color: hsl(0, 94%, 66%);
    width: 112px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
}

header nav button:hover {
    background: white;
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
    font-weight: bold;
}

/* Intro */
#intro {
    margin-bottom: 90px;
}

#intro #intro-content {
    float: left;
    width: 48%;
}

#intro .container {
    width: 90%;
}

#intro-content h1 {
    font-size: 47px;
    margin-left: 90px;
    margin-top: 165px;
    margin-bottom: 25px;
}

#intro-content p {
    color: hsl(229, 8%, 60%);
    margin-left: 90px;
    width: 75%;
    line-height: 28px;
}

#intro-content button {
    width: 165px;
    height: 45px;
    border-radius: 5px;
    border: none;
    margin-left: 92px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#intro-content #btn-1 {
    background-color: hsl(231, 69%, 60%);
    color: #ffffff;
    border: none;
}

#intro-content #btn-1:hover {
    background: white;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    font-weight: bold;
}

#intro-content #btn-2 {
    box-shadow: 2px 1px 8px 1px rgb(191, 191, 191);
    margin-left: 10px;
    background-color: rgba(249, 249, 249, 0.938);
}

#intro-content #btn-2:hover {
    background: white;
    border: 2px solid hsl(0, 0%, 28%);
    font-weight: bold;
}

#intro #intro-img {
    float: right;
    margin-top: 85px;
    margin-right: -20px;
    padding: 0px;
}

/* Features */

#features #content {
    text-align: center;
}

#content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#content p {
    width: 47%;
    line-height: 28px;
    margin: 0 auto;
    color: rgb(165, 165, 165);
}

/* Features Nav */

#features-nav {
    width: 63%;
    margin: 0 auto;
    margin-top: 70px;
}

#features-nav ul {
    border-bottom: 1px solid rgb(216, 216, 216);    
    list-style: none;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}

#features-nav ul li {
    padding-bottom: 28px;
    padding-right: 6px;
    display: inline-block;
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
    width: 32%;
}

/* Features Tabs */

#tabs-img-1 {
    float: left;
    margin-top: 72px;
    margin-left: 0px;
}

#tabs-img-1 img {
    width: 96%;
    height: 350px;
    margin-left: 24px;
}
#tabs-content-1 {
    float: right;
    width: 40%;
    margin-top: 110px;
    margin-right: 5px;
}

#tabs-content-1 h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

#tabs-content-1 p {
    width: 94%;
    line-height: 28px;
    color: gray;
}

#tabs-content-1 button {
    background-color: hsl(231, 69%, 60%);
    height: 50px;
    width: 115px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

#tabs-content-1 button:hover {
    background: white;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    font-weight: bold;
}

/* Download */

#download-content {
    text-align: center;
    margin-top: 240px;
}

#download-content h1 {
    font-size: 32px;
    margin-bottom: 23px;
}

#download-content p {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(165, 165, 165);
    line-height: 28px;
}

/* Download Grids */

#grid {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 560px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 70px;
    width: 85%;
    min-height: 500px;
}

#google-a, #firefox-a, #opera-a {
    margin-top: 35px;
}

#google-a h2, #firefox-a h2, #opera-a h2 {
    font-size: 20px;
    margin-top: 30px;
}

#google-a p, #firefox-a p, #opera-a p {
    font-size: 14px;
    margin-bottom: 35px;
    color: rgb(165, 165, 165);
} 

.grids-b button {
    margin-top: 25px;
    height: 45px;
    width: 80%;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.grids-b button:hover {
    background: white;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    font-weight: bold;
}

#firefox {
    margin-top: 45px;
}

#opera {
    margin-top: 90px;
}

/* FAQ */

#faq-content {
    text-align: center;
    margin-top: 30px;
}

#faq-content h1 {
    font-size: 32px;
    margin-bottom: 23px;
}

#faq-content p {
    width: 45%;
    margin: 0 auto;
    color: rgb(165, 165, 165);
    line-height: 28px;
}

#list {
    width: 47%;
    margin: 0 auto;
    margin-top: 50px;
}

#list div {
    border-top: 1px solid rgb(165, 165, 165);
    padding: 21px 0px;
}

#list div#last {
    border-bottom: 1px solid rgb(165, 165, 165);
}

#faq button {
    height: 45px;
    width: 110px;
    border: none;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    color: #ffffff;
    display: block;
    margin: 53px auto 150px;
    font-size: 14px;
    font-weight: bold;
}

#faq button:hover {
    background: white;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    font-weight: bold;
}

#arrow-1 {
    margin-left: 323px;
}

#arrow-2 {
    margin-left: 210px;
}

#arrow-3 {
    margin-left: 313px;
}

#arrow-4 {
    margin-left: 170px;
}

/* Contact */

#contact {
    text-align: center;
    background-color:  hsl(231, 69%, 60%);
    color: white;
}

#contact h4 {
    margin-top: 70px;
    font-size: 13px;
    letter-spacing: 5px;
}

#contact h1 {
    font-size: 32px;
    font-weight: 100;
    width: 40%;
    margin: 40px auto;
}

#contact input {
    height: 45px;
    width: 295px;
    /* border: none; */
    border-radius: 5px;
    margin-bottom: 75px;
}

#contact input[type="email"] {
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#contact input::-webkit-input-placeholder {
    font-size: 14px;
    color: rgb(208, 208, 208);
}

input:invalid {
    border: 3px solid hsl(0, 94%, 66%);
  }

#contact button {
    height: 47px;
    border: none;
    border-radius: 5px;
    width: 125px;
    background-color: hsl(0, 94%, 66%);
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: -10px
}

#contact button:hover {
    background: white;
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
    font-weight: bold;
}

/* Footer */

footer {
    background-color: hsl(229, 31%, 21%);
    min-height: 87px;
}

#footer-left {
    float: left;
    width: 80%;
}

#footer-logo {
    float: left;
    background: white;
    margin-top: 30px;
    margin-left: 20px;
}

footer nav ul {
    float: right;
    width: 50%;
    list-style: none;
    color: #ffffff;
    padding: 0px;
    margin-right: 268px;
    margin-top: 31px;
}

footer nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    margin-left: 38px;
}

footer div#footer-left nav ul li a {
    color: rgb(198, 198, 198);
}

footer div#footer-left nav ul li a:hover {
    color: hsl(0, 94%, 66%);
}

#footer-right {
    float: right;
}

#footer-right img {
    margin-top: 32px;
    margin-right: 29px;
}

/* Media Queries */

@media(max-width: 500px) {

    .container {
        width: 85%;
    }

    /* Remove Float */

    #intro #intro-content, #intro #intro-img,#features #tabs-img-1, #features #tabs-content-1, footer #footer-left, #footer-logo, footer nav ul, footer #footer-right {
        float: none;
    }

    /* Header */

    header img {
        margin-left: 5px;
        width: 195px;
    }

    header nav ul {
        display: none;
    }

    /* Intro section */

    #intro .container {
        width: 95%;
    }

    #intro div#intro-img {
        width: 100%;  
        margin-top: 92px;  
    }

    #intro-img img{
        width: 98%;
        margin: 0 auto;
    }

    #intro #intro-content {
        width: 99%;
        margin: 70px auto 0px; 
    }

    #intro-content h1 {
        text-align: center;
        font-size: 39px;
        line-height: 50px;
        margin: 0;
    }

    #intro-content p {
        text-align: center;
        margin: 22px auto 0px;
        font-size: 20px;
        width: 80%;
        line-height: 34px;
    }

    #intro-content #button {
        text-align: center;
        margin-top: 40px;
    }

    #intro-content button#btn-1,
    #intro-content button#btn-2 {
       display: inline-block;
       margin: 0;
       width: 43%;
       height: 60px;
       font-size: 16px;
    }

    /* Features */

    #features #content {
        text-align: center;
    }

    #features #content p { 
        width: 90%;
        line-height: 32px;
        font-size: 19px;
    }

    #features #features-nav {
        width: 100%;
    }

    #features nav ul li {
        display: block;
        width: 100%;
        padding: 25px 0px;
        border-top: 1px solid rgb(165, 165, 165);
        font-size: 22px;
    }       

    #features #tabs-content-1 {
        text-align: center;
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
    }

    #tabs-content-1 h1 {
        margin-bottom: 15px;
    }

    #tabs-content-1 p {
        margin-top: 0px;
        line-height: 34px;

    }

    /* Download */

    #download #download-content {
        text-align: center;
    }

    #download-content p {
        width: 90%;
        font-size: 20px;
        line-height: 34px;
    }

    #download #grid {
    grid-template-columns: 290px;
    grid-template-rows: 360px 360px;
    }

    /* FAQ */ 

    #faq {
        border: 1px solid red;
        margin-top: 40px;
    }

    #faq #faq-content p {
        width: 95%;
        font-size: 20px;
        line-height: 34px;
    }

    #faq #list {
        width: 100%;
    }

    #list div {
        border-top: none;
        border-bottom: 1px solid rgb(165, 165, 165);
    }

    #arrow-1 {
        margin-left: 223px;
    }
    
    #arrow-2 {
        margin-left: 110px;
    }
    
    #arrow-3 {
        margin-left: 213px;
    }
    
    #arrow-4 {
        margin-left: 70px;
    }

    #faq button {
        width: 150px;
        height: 60px;
        font-size: 18px;
    }

    /* Contact */

    #contact {
        padding-bottom: 55px;
    }

    #contact h4 {
        font-size: 17px;
    }

    #contact h1 {
        width: 100%;
    }

    #contact input[type="email"], #contact button {
        width: 95%;
        height: 60px;
        margin: 0 0 20px 0;
        font-size: 18px;
    }

    #contact input::-webkit-input-placeholder {
        font-size: 18px;
        padding-left: 10px;
    }

    /* Footer */

    footer {
        padding: 55px 0px;
    }

    #footer-left {
        margin: 0 auto;
        display: block;
        width: 90%;
        text-align: center;
    }

    #footer-logo { 
        width: 50%;
        margin: 0 auto;
    }

    #footer-logo img {
        width: 100%;
    }

    footer nav {
        width: 90%;
        margin: 0 auto;
    }

    footer nav ul {
        margin: 40px auto 0px;
    }

    footer nav ul li {
        width: 90%;
        display: block;
        font-size: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    #footer-right {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    #footer-right img {
        width: 8%;
        padding-left: 20px;
    }
    
}

@media(max-width: 375px) {

    #list a {
        font-size: 16px;
    }

    #arrow-1 {
        margin-left: 141px;
    }
    
    #arrow-2 {
        margin-left: 41px;
    }
    
    #arrow-3 {
        margin-left: 133px;
    }
    
    #arrow-4 {
        margin-left: 5px;
    }
}