body {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.grids {
    /* border: 1px solid blue; */
    border-radius: 15px;
    box-shadow: 0px 6px 8px 2px rgb(238, 238, 238);
    text-align: center;
    height: 360px;
}

.grids-b {
    border-top: 4px dotted rgb(165, 165, 165);
}

/* Header */

header img {
    margin-top: 55px;
    margin-left: 24px;
}

/* Nav */

header nav ul {
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    padding-left: 40px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500px;
    letter-spacing: 2px;
}

header nav button {
    background-color: hsl(0, 94%, 66%);
    width: 112px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
}

/* Intro */
#intro {
    margin-bottom: 90px;
}

#intro #intro-content {
    float: left;
    width: 48%;
}

#intro .container {
    width: 90%;
}

#intro-content h1 {
    font-size: 47px;
    margin-left: 90px;
    margin-top: 165px;
    margin-bottom: 25px;
}

#intro-content p {
    color: hsl(229, 8%, 60%);
    margin-left: 90px;
    width: 75%;
    line-height: 28px;
}

#intro-content button {
    width: 165px;
    height: 45px;
    border-radius: 5px;
    border: none;
    margin-left: 92px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

#intro-content #btn-1 {
    background-color: hsl(231, 69%, 60%);
    color: #ffffff;
    border: none;
}

#intro-content #btn-2 {
    box-shadow: 2px 1px 8px 1px rgb(191, 191, 191);
    margin-left: 10px;
    background-color: rgba(249, 249, 249, 0.938);
}

#intro #intro-img {
    float: right;
    margin-top: 85px;
    margin-right: -20px;
    padding: 0px;
}

/* Features */

#features #content {
    text-align: center;
}

#content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#content p {
    width: 47%;
    line-height: 28px;
    margin: 0 auto;
    color: rgb(165, 165, 165);
}

/* Features Nav */

#features-nav {
    border-bottom: 1px solid gray;    
    width: 63%;
    margin: 0 auto;
    margin-top: 70px;
}

#features-nav ul {
    list-style: none;
    padding: 0px;
    padding-bottom: 10px;
    margin-left: 30px;
}

#features-nav ul li {
    display: inline;
    padding-right: 83px;
    font-size: 17px;
    margin-left: 10px;
}

/* Features Tabs */

#tabs-img-1 {
    float: left;
    margin-top: 72px;
    margin-left: 0px;
}

#tabs-img-1 img {
    width: 96%;
    height: 350px;
    margin-left: 24px;
}
#tabs-content-1 {
    float: right;
    width: 40%;
    margin-top: 110px;
    margin-right: 5px;
}

#tabs-content-1 h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

#tabs-content-1 p {
    width: 94%;
    line-height: 28px;
    color: gray;
}

#tabs-content-1 button {
    background-color: hsl(231, 69%, 60%);
    height: 50px;
    width: 115px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

/* Download */

#download-content {
    text-align: center;
    margin-top: 240px;
}

#download-content h1 {
    font-size: 32px;
    margin-bottom: 23px;
}

#download-content p {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(165, 165, 165);
    line-height: 28px;
}

/* Download Grids */

#grid {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 560px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 70px;
    width: 85%;
    min-height: 500px;
}

#google-a, #firefox-a, #opera-a {
    margin-top: 35px;
}

#google-a h2, #firefox-a h2, #opera-a h2 {
    font-size: 20px;
    margin-top: 30px;
}

#google-a p, #firefox-a p, #opera-a p {
    font-size: 14px;
    margin-bottom: 35px;
    color: rgb(165, 165, 165);
} 

.grids-b button {
    margin-top: 25px;
    height: 45px;
    width: 80%;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

#firefox {
    margin-top: 45px;
}

#opera {
    margin-top: 90px;
}

/* FAQ */

#faq-content {
    text-align: center;
    margin-top: 30px;
}

#faq-content h1 {
    font-size: 32px;
    margin-bottom: 23px;
}

#faq-content p {
    width: 45%;
    margin: 0 auto;
    color: rgb(165, 165, 165);
    line-height: 28px;
}

/* Contact */

#contact {
    text-align: center;
    border: 1px solid red;
    background-color:  hsl(231, 69%, 60%);
    color: white;
}

#contact h4 {
    margin-top: 70px;
    font-size: 13px;
    letter-spacing: 5px;
}

#contact h1 {
    font-size: 32px;
    font-weight: 100;
    width: 40%;
    margin: 40px auto;
}

#contact input {
    height: 45px;
    width: 295px;
    border: none;
    border-radius: 5px;
    margin-bottom: 75px;
}

#contact input::-webkit-input-placeholder {
    padding-left: 15px;
    font-size: 14px;
    color: rgb(208, 208, 208);
}

#contact button {
    height: 47px;
    border: none;
    border-radius: 5px;
    width: 125px;
    background-color: hsl(0, 94%, 66%);
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: -10px
}

/* Footer */

footer {
    background-color: hsl(229, 31%, 21%);
    min-height: 87px;
}

#footer-left {
    float: left;
    width: 80%;
    border: 1px solid red;
}

#footer-logo {
    float: left;
    background: white;
    margin-top: 30px;
    margin-left: 20px;
}

footer nav ul {
    float: right;
    width: 60%;
    list-style: none;
    color: #ffffff;
    padding: 0px;
    margin: 30px 0px 20px 0px;;
    border: 1px solid red;
}

footer nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(165, 165, 165);
    letter-spacing: 2px;
    margin-left: 60px;
}

#footer-right {
    float: right;
}